
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-variation-settings:
    "wdth" 100;
}
*{
    padding: 0;
    margin: 0;
}
.dark-01{
    color: #000000;
}
.gray-01{
    color: #8987A1;
}
.gray-02{
    color: rgba(0, 0, 0, 0.5);
}
.gray-03{
    color: rgba(107, 114, 128, 1);
}
.orange{
    color: #E95A08;
}
.display-flex{
    display: flex;
}
/* header-style */
.navbar{
    max-width: 1140px;
    width: 87%;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    margin-right: 20px;
    text-decoration: none;
}
.nav-icon{
    margin-right: 10px;
}
.nav-img{
    max-width: 130px;
    max-height: 80px;
}
/* banner-style */
.banner{
    
    max-width: 1140px;
     width: 87%;
    margin: 100px auto 0 auto ;
    justify-content: space-between;
}
.banner-content{
    margin-top: 95px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 4rem;
}
.banner-content p{
    font-weight: 400;
    font-size: 1rem;
}
.banner-img img{
    width: 100%;
    max-width: 570px;
    max-height: 355px;
}
/* plants-section-style */
.plants{
     max-width: 1140px;
    margin: 100px auto 0 auto ;
    text-align: center;
    width: 87%;
}
.plants h1{
    font-weight: bold;
    font-size: 3rem;
}
.plants p{
    font-weight: 500;
    font-size: 1.2rem;
}
.cart-container{
    margin-top: 50px;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 35px;
}
.plants-cart{
    max-width: 270px;
    max-height: 485px;
}
.cart-img img{
    width: 100%;
}
.cart-content{
    margin-top: 20px;
}
.cart-content p{
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 5px;
}
.btn{
    max-width: 270px;
    max-height: 50px;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    color: white;
    background-color: #E95A08;
    border: none;
    
}
/* plants-lover-style */
.plants-lover{
    max-width: 1140px;
    width: 87%;
    margin: 200px auto 0 auto ;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 150px;

}
.plants-lover-img img{
    width: 100%;
     max-width: 540px;
    max-height: 580px;
}
.plants-lover-content li{
    margin-top: 10px;
    
}
.plants-lover-content h1{
    font-weight: bold;
    font-size:3.1rem ;
    padding-bottom: 20px;
    padding-top: 30px;
}

.plants-lover-content{
    max-width: 540px;
    max-height: 521px;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 20px;
}
#trusted-badge{
    max-width: 286px;
    max-height: 286px;
    width: 100%;
    position: relative;
    top: -130px;
    left: -150px;

}
/* responsive-dwsign */
@media screen and (max-width:576px){
    /* header-responsive */
    .nav-link{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-content{
        margin-top: 50px;
        margin-left: 20px;
    }
    .banner-content h1{
    font-weight: bold;
    font-size: 3rem;
    }
    .nav-img img{
        max-width: 65px;
        max-height: 80px;
    }
   /* plants-responsive */
   .cart-container{
    grid-template-columns: repeat(2,1fr);
}
.break{
    display: none;
}
/* plants-lover-responsive */

#trusted-badge{
    display: none;
}
.plants-lover{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.plants-lover-content{

}
} 

