
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-variation-settings:
    "wdth" 100;
}
*{
    padding: 0;
    margin: 0;
}
.dark-01{
    color: #000000;
}
.gray-01{
    color: #8987A1;
}
.gray-02{
    color: rgba(0, 0, 0, 0.5);
}
.gray-03{
    color: rgba(107, 114, 128, 1);
}
.orange{
    color: #E95A08;
}
.display-flex{
    display: flex;
}
/* header-style */
.navbar{
    max-width: 1140px;
    width: 87%;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    margin-right: 20px;
    text-decoration: none;
}
.nav-icon{
    margin-right: 10px;
}
.nav-img{
    max-width: 130px;
    max-height: 80px;
}
.navbar a:hover,.nav-item:hover{
    color: #E95A08;
}
/* banner-style */
.banner{
    
    max-width: 1140px;
     width: 87%;
    margin: 100px auto 0 auto ;
    justify-content: space-between;
}
.banner-content{
    margin-top: 95px;
}
.banner-content h1{
    font-weight: bold;
    font-size: 4rem;
}
.banner-content p{
    font-weight: 400;
    font-size: 1rem;
}
.banner-img img{
    width: 100%;
    max-width: 570px;
    max-height: 355px;
}
/* plants-section-style */
.plants{
     max-width: 1140px;
    margin: 100px auto 0 auto ;
    text-align: center;
    width: 87%;
}
.plants h1{
    font-weight: bold;
    font-size: 3rem;
}
.plants p{
    font-weight: 500;
    font-size: 1.2rem;
}
.cart-container{
    margin-top: 50px;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 35px;
}
.plants-cart{
    max-width: 270px;
    max-height: 485px;
}
.cart-img img{
    width: 100%;
}
.cart-content{
    margin-top: 20px;
}
.cart-content p{
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 5px;
}
.btn{
    max-width: 270px;
    max-height: 50px;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    color: white;
    background-color: #E95A08;
    border: none;
    
}
/* plants-lover-style */
.plants-lover{
    max-width: 1140px;
    width: 87%;
    margin: 200px auto 0 auto ;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 150px;

}
.plants-lover-img img{
    width: 100%;
     max-width: 540px;
    max-height: 580px;
}
.plants-lover-content li{
    margin-top: 10px;
    
}
.plants-lover-content h1{
    font-weight: bold;
    font-size:3.1rem ;
    padding-bottom: 20px;
    padding-top: 30px;
}

.plants-lover-content{
    max-width: 540px;
    max-height: 521px;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 20px;
}
#trusted-badge{
    max-width: 286px;
    max-height: 286px;
    width: 100%;
    position: relative;
    top: -130px;
    left: -150px;
    animation: badge 2s linear infinite;
}
@keyframes badge{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* latest-deal-section-style */
.latest-deals{
     max-width: 1140px;
    width: 87%;
    margin: 80px auto 0 auto ;
    text-align: center;
}
.latest-deals h1{
    font-weight: bold;
    font-size: 3.1rem;
    margin-bottom: 10px;
}
.latest-deals p{
    font-weight: 500;
    font-size: 1,2rem;
}
.deal-container{
    max-width: 1140px;
    max-height: 420px;
    margin-top: 80px;
     display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    gap: 15px;
}
.bloom-ana{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    gap: 15px;
}
.bloom-ana p{
    font-weight: bold;
    font-size: 1.2rem;
}
.bloom-ana a{
    color: white;
    font-weight: 700;
    font-size: 1rem;
}
.bloom{
    max-width: 367px;
    max-height: 201px;
    padding: 60px;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../assets/deal-bloom.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.Ana{
     max-width: 367px;
    max-height: 201px;
    padding: 60px;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) ,url(../assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.Zabo{
    max-width: 753px;
    max-height: 420px;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) ,url(../assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.Ana img,.bloom img,.Zabo img{
    width: 100%;
}
.Zabo-content{
    padding-top: 120px;
}
.Zabo p{
     font-weight: bold;
     font-size: 2.5rem;
}
.Zabo a{
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
}
/* join-section-style */
.join{
    border: 2px solid white;
    border: none;
    height:535px;
    width: 100%;
     margin-top: 80px;
     background-image: url(../assets/news-letter-bg.png);
     background-size: cover;
     background-repeat: no-repeat;
}
.join h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3.2rem;
    position: relative;
    top: 160px;
   
}
.join-info {
    justify-content: center;
    margin: 180px auto 0 auto; 
    max-width: 830px;
    max-height: 50px;
}
.join-info input{
    padding:15px 400px 15px 30px ;
    font-weight: 400;
    font-size: 1rem;
}
.join-info button{
    padding: 16px 60px;
     font-weight: 400;
    font-size: 1rem;
    background-color: #E95A08;
    color: white;
    border: none;
    cursor: pointer;
}
.footer{
     max-width: 1140px;
    width: 87%;
    margin: 50px auto ;
    justify-content: space-between;
}
.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-links li{
    list-style: none;
}
.footer-links a {
    text-decoration: none;
    color: #8987A1;
}
.footer-links a:hover{
    color: black;
}
.footer-content p{
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 10px;
}
.footer-content img{
    max-width: 135px;
    max-height: 80px;
    width: 100%;
}
.footer-icon img{
    margin-right: 25px;
}
.footer-icon{
    max-width: 216px;
    max-height: 36px;
    justify-content: center;
    align-items: center;
}

/* responsive-dwsign */
@media screen and (max-width:576px){
    /* header-responsive */
    .nav-link{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
    }
    .banner-content{
        margin-top: 50px;
        margin-left: 30px;
    }
    .banner-content h1{
    font-weight: bold;
    font-size: 3rem;
    }
    .nav-img img{
        max-width: 65px;
        max-height: 80px;
    }
   /* plants-responsive */
   .cart-container{
    grid-template-columns: repeat(2,1fr);
}
.break{
    display: none;
}
/* plants-lover-responsive */

#trusted-badge{
    display: none;
}
.plants-lover-content{
    max-height: none;
}
.plants-lover{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    margin-top: 100px;
}
/* latest-deals-responsive */
.deal-container{
    grid-template-columns: repeat(1,1fr);
    width: 95%;
    margin: 50px auto 0 auto;
}
.Zabo-content{
    padding: 65px 0;
}
.Zabo p{
     font-weight: bold;
    font-size: 1.2rem;
}
.Zabo a{
    font-weight: 700;
    font-size: 1rem;
}
/* join-section-responsive */
.join{
    margin-top: 200px;
    max-height: 300px;
}
.join-info {
    margin: 100px auto 0 auto; 
    width: 80%;
}
.join-info input{
    padding:15px 50px 15px 10px ;
}
.join-info button{
    padding: 16px 30px;
}
.join h1{
    font-weight: bold;
    font-size: 1.8rem;
    top: 85px;
}
/* footer-responsive */
.footer{
    flex-direction: column;
    gap: 30px;
}
.footer-content img{
    max-width: 180px;
    max-height: 100px;
}
}

